.header-class {
  height: 50px;
  width: 100%;
  background-color: #021966;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 9999;
}

.header-class p {
  color: white;
  font-weight: bold;
  padding-left: 10px;
}
